@media screen and (max-width: 425px),
       screen and (max-height: 882px) {
    footer {
        width: 425px;
        height: 5vh;

        display: flex;
        justify-content: center;

        z-index: 10;
        margin-bottom: 0vh;

        background-color: brown;
    }
    #email{
        font-size: 1.25vh;
    }
}