@media screen and (max-width: 425px) and (max-height: 882px) {
    footer {
        width: 425px;
        height: 20vh;

        display: flex;
        justify-content: center;

        z-index: 10;
    }
    #email{
        background-color: brown;
        font-size: 1.25vh;
    }
}