@media screen and (max-width: 425px),
       screen and (max-height: 882px) {
    section {
        width: 100vw;
        height: 80vh;
    }

    #sobre {
        width: 100vw;
        height: 7.5vh;

        background-color: yellow;
    }

    #contorno {
        display: flex;
    }

    .borda {
        width: 10vw;
        height: 40vh;

        background-color: green;
    }

    #roleta_box {
        width: 80vw;
        height: 40vh;

        background-color: brown;
        overflow-y: hidden;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .coluna {
        width: 20vw;
        height: 10vh;

        border: solid white 1vh;
    }

    #coluna1 {
        width: 20vw;
        height: 10vh;
    }

    #ganho {
        width: 100vw;
        height: 7.5vh;

        display: flex;
        justify-content: center;

        background-color: blue;
    }

    #valores {
        width: 100vw;
        height: 7.5vh;

        display: flex;
        justify-content: space-evenly;

        background-color: orange;
    }

    .valor {
        width: 20vw;
        height: 5vh;

        background-color: orangered;

        margin-top: 1.25vh;
    }

    #funcoes {
        width: 100vw;
        height: 17.5vh;
        background-color: cyan;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #giro {
        width: 20vw;
        height: 20vw;

        border-radius: 50%;
    }
}