<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortune Cat</title>
    <link rel="stylesheet" href="./../css/roleta/roleta_link.css">
    <script type="module" src="" defer></script>
    <script src="https://kit.fontawesome.com/a451098362.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div id="gato"></div>
    </header>

    <section>
        <div id="sobre"></div>
        <div id="contorno">
            <div class="borda"></div>
            <div id="roleta_box">
                <nav id="coluna1" class="coluna">
    
                </nav>
                <nav id="coluna2" class="coluna">
    
                </nav>
                <nav id="coluna3" class="coluna">
    
                </nav>
            </div>
            <div class="borda"></div>
        </div>
        <div id="ganho">
            <h1 id="recompensa"> Voce ganhou XXX Bryams</h1>
        </div>
        <div id="valores">
            <button class="valor">

            </button>
            <button class="valor">

            </button>
            <button class="valor">

            </button>
        </div>
        <div id="funcoes">
            <button id="giro">

            </button>
        </div>
    </section>

</body>

</html>